 header {
     top: 0;
     height: 85px;

     .center {
         position: relative;
         top: 0px;
         bottom: 15px;
         left: 125px;

         .logo {
             height: 25px;
         }


     }

     .left,
     .right {
         position: relative;
         top: 10px;
     } 
 }