#cantomon-management-battling {
    .cantomon-list {
        .list-group {
            display: flex;
            flex-direction: column;

            .row {

                background-image: url("./../../assets/interface/item_panel_active.png");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: 0% 40%;
                height: 110px;
                width: 425px;

                .image-wrapper {
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 75px;
                        height: 75px;
                        background-color: rgb(151, 217, 242);
                    }
                }

                .text-wrapper {
                    height: 100px;
                    color: rgb(145, 200, 229);
                    overflow: hidden;
                    padding-left: 10%;
                    padding-top: 1.5%;

                    h2 {
                        font-family: "UpheavalPro";
                        font-size: 20px;
                        font-weight: 500;
                    }

                    .description {

                        font-family: "EXEPixelPerfect";
                        font-size: 16px;
                        line-height: 0;

                    }
                }
            }

            .row:hover {
                background-image: url("./../../assets/interface/item_panel_passive2.png");
            }

            .row.active {
                background-image: url("./../../assets/interface/item_panel_passive2.png");
            }


        }
    }

    .cantomon-detail-panel {
        .panel-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-image: url("./../../assets/interface/item_panel_header.png");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 0px 0px;
            height: 35px;
            padding: 5px;
            position: relative;
            left: 5px;
            align-items: center;
            color: rgb(207, 237, 250);
            font-size: 20px;


            .left {
                display: flex;
                justify-content: left;
            }

            .right {
                display: flex;
                justify-content: right;
            }
        }

        .panel-body {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            background-image: url("./../../assets/interface/content_bg_panel.png");
            background-repeat: repeat;
            background-size: 111.5%;
            background-position: -4px 0px;

            .container {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 38px;
            }

            .image-wrapper {
                height: 250px;

                .box-header {


                    background-image: url("./../../assets/interface/box_selection_top.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position: 0px 0px;

                    width: 100%;
                    height: 4%;
                }

                .box-body {

                    background-image: url("./../../assets/interface/box_selection_body.png");
                    background-repeat: repeat;

                    background-size: contain;
                    background-position: 0px 0px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    height: 85%;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 20%;
                    p.name {
                        color: whitesmoke;
                    }
                }

                .box-footer {

                    background-image: url("./../../assets/interface/box_selection_bottom.png");

                    background-repeat: no-repeat;
                    background-size: 102%;
                    background-position: 0px 0px;
                    width: 100%;
                    height: auto;
                }

                img {
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    transform: scale(3.2);
                }

                .name {
                    font-family: "EXEPixelPerfect";
                    color: rgb(145, 200, 229);
                    font-size: 16px;
                }
            }

            .text-wrapper {
                height: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .row {
                    width: 80%;
                    padding: 10px;
                    padding-top: 10px;

                    .progress {

                        border-style: solid;
                        border-color: #2D6686;
                        border-width: 2px;
                        padding: 0px;
                        background-color: rgb(129, 189, 212);

                        .progress-bar {
                            background-color: #09FF00;
                        }
                    }
                }

                .row.description {
                    font-family: "EXEPixelPerfect";
                    height: 80%;
                    margin-top: 10%;
                    border-style: solid;
                    border-color: #2D6686;
                    border-width: 2px;
                    color: whitesmoke;
                    background-color: rgb(129, 189, 212);
                    border-radius: 3px;

                    word-wrap: break-word;
                    line-height: 0.7;
                    overflow: hidden;
                    font-size: 16px;

                    p {
                        padding: 0;
                        margin: 0;
                    }
                }

                .row.loader {
                    height: 20%;
                }
            }
        }

        .panel-body-footer {
            background-image: url("./../../assets/interface/footer_bg_panel.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 0px 0px;

        }

        .panel-footer {
            background-image: url("./../../assets/interface/item_panel_subheader.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 0px 0px;
            height: 6%;
            position: relative;
            left: 1%;
            width: 103%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;



            .nav {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 20px;
                width: 100%;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                    background-color: rgb(38, 163, 209);
                    border: solid 2px black;
                    border-radius: 5px;
                    padding: 12px;
                    width: 85px;
                    box-shadow: inset 0 0 5px black;

                    a {
                        font-family: "UpheavalPro";
                        color: rgb(199, 255, 255);
                        font-weight: 300;
                        font-size: 20px;
                    }
                }
            }

            .nav.dojo {
                li.register {
                    width: 100px;
                }
            }
        }
    }
} 

#cantomon-management-battling .cantomon-list .list-group {
    overflow-y: scroll;
    overflow-x: none;
    -ms-overflow-style: none;   
    scrollbar-width: none;
    height: 28%;
    .row {
        padding-left: 1%;
        margin-left: 1%;
    }
}

#cantomon-management-battling .cantomon-list .list-group::-webkit-scrollbar  {
    display: none;
}
