#nft-collection {
    .list-group-header-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 97%;

        .list-group-header {

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            align-self: flex-end;
            background-image: url("./../../assets/interface/item_panel_header.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 0px 0px;
            height: 39px;
            width: 54%;
            position: relative;
            left: -10px;
        }
    }

    .list-group {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
        height: 100%;  
        padding-bottom: 50px;
        padding-top: 55%;
        a {
            display: flex;
            justify-content: center;
            padding-top: 5px;
            padding-bottom: 5px;
            background-image: url("./../../assets/interface/item_panel_active2.png");
            background-size: 95%;
            background-repeat: no-repeat;
            background-position: 0px -7px;
            height: 123px;

            .image-wrapper {
                width: 150px;

                /*
                background-color: rgb(151, 217, 242);
                border-style: double;
                border-color: #2D6686;
                border-width: 5px;
*/
                .image-placeholder {

                    img {
                        transform: scale(2);
                    }
                }
            }

            .text-wrapper {
                color: white;
                line-height: 0.8;
                padding-top: 2px;
                padding-bottom: 2px;
                overflow: hidden;
                /* background-color: rgb(103, 99, 150); */
            }
        }
    }
}